.ConCon {
  display: flex;
  margin-top: auto;
  align-items: center;
  border-radius: 10px;
  justify-content: flex-end;
  background-color: #dc9a0d;
  width: 350px;
  width: 330px;
}

.ConCon strong {
  width: 40px;
}
