.articulos {
  display: flex;
  flex-direction: column; /* contenido vertical */
  justify-content: space-between; /* espacio uniforme dentro del item */
  padding: 20px;
  border: 1px solid black;
  box-sizing: border-box; /* importante para que padding no aumente el tamaño total */
  min-height: 150px; /* altura mínima homogénea */
  background-color: #f9f9f9;
}

.articulos button {
  background-color: rgb(214, 148, 68);
  border: none;
  width: 50px;
  border-radius: 10px;
}
